@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

.geist-mono {
  font-family: "Geist Mono", monospace;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: rgb(12, 12, 12);
  scrollbar-width: 0;
}

body {
  @apply text-green-400;
  background: var(--background);
  font-family: "Geist Mono", monospace;
  /* Ensure bloom overlay doesn't interfere with content */
  overflow-x: hidden;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 36px;
}

@media (max-width: 767px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 24px;
  }
}
